﻿@model HelloWorldWeb.Models.HelloWorldIndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @foreach (var helloMessage in @Model.Messages)
            {
                <div>
                    <span>@helloMessage.Id</span>
                    <span>@helloMessage.Message</span>
                </div>
            }  
        </div>
        <div>
            @Model.QueryTime
        </div>
        @*
        @using (Html.BeginForm("Add", "HelloWorld"))
        {
            @Html.TextBox("message")
            <input type="submit" value="Add" />
        }
        *@
        @using (Html.BeginForm("Delete", "HelloWorld"))
        {
            <script language="javascript">
                var x = '@AppDomain.CurrentDomain.BaseDirectory';
            </script>
            @Html.TextBox("id")
            <input type="submit" value="Delete" />
        }

    </body>
</html>